.showModal{
    width: 600px;
    height: 600px;
}

li {
    float: left;
    list-style-type:none;
}
.LIlabelName {
    width: 80px;
    height: 20px;
    background-color: aquamarine;
    margin-right: 5px
}
.LIlabelNameRemove{
    margin-right: 10px;
    cursor: pointer;
    /* font-size: 19px */
}